$yoloGold: rgb(206, 180, 31);

.text-area-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.before-play-h3{
  text-transform: uppercase;
  margin-top: 80px;
  color: $yoloGold;
}

// inPlayDisplay - BEGINING
.in-play-container{
  display: flex;
  flex-direction: row;
  column-gap: 45px;
  color: white;
  margin-bottom: 100px;
}

.computer-selection-h1{
  text-transform: uppercase;
}

.vs-h1{
color: $yoloGold;
}

.user-selection-h1{
  text-transform: uppercase;

}

// - END

// afterPlayDisplay - BEGINNING
.after-play-container{
  margin-bottom: 75px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  row-gap: 10px;
}

.winner-h1{
  color: rgb(48, 173, 48);
}

.win-amount-display{
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.win-h2{
  color: $yoloGold;
}

.amount-h2{
  color: white;
}

// - END 

